# IBM CAPSTONE W3 - Getting Latitude and Longitude

### Importing the necessary libraries

In [16]:
import pandas as pd
import numpy as np

### Scraping

Since its an open tabular database, we can easily access it with pandas read function

In [30]:
df_postalCodes = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

### Building the Dataframe

Accordingly to the assignment requirements, we must:
* remove the rows where Borough is *Not assigned*. For this, we can convert all *Not assigned* to *Nan* with `replace`, then use `dropna`.
* fill the *Not assigned* Neighborhoods with Borough value. Since we replaced all *Not assigned* with *Nan*, we can use a `fillna` to complete this task.
* combine neighborhoods with the same *Postal Codes*. We can do this with a `group by`.

By the end of the code I just printed the first five rows to see the result of these operations.

In [39]:
df_postalCodes.replace(to_replace = 'Not assigned', value = np.NaN, inplace = True)
df_postalCodes['Neighborhood'] = df_postalCodes['Neighborhood'].fillna(df_postalCodes['Borough'])
df_postalCodes.dropna(axis = 0, subset=['Borough'], inplace = True)
df_postalCodes.groupby('Postal Code').agg(lambda x: ''.join(set(x))).reset_index()
df_postalCodes.head(1)

  Postal Code     Borough Neighborhood
2         M3A  North York    Parkwoods

### Getting Latitude and Longitude

Since I was one of the lucky ones that had problems with *Geocoder Package*, I downloaded the database straight from the link provided and used a `left join` to merge both dataframes.

In [40]:
df_latLong = pd.read_csv('http://cocl.us/Geospatial_data/Geospatial_Coordinates.csv')

In [41]:
df_latLong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [42]:
df = pd.merge(df_postalCodes, df_latLong, how='left', on=['Postal Code'])
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494